<ul>
  <li class="menu-home">
    <%= link_to :leader_index do %>
        <i class="fa fa-home fa-2x"></i><br> Home
    <% end %>
  </li>
  <li class="menu-newsurvey">
    <%= link_to :leader_index do %>
        <i class="fa fa-plus-square fa-2x"></i><br> New survey
    <% end %>
  </li>
  <li class="menu-surveys">
    <%= link_to :leader_surveys_all do %>
        <i class="fa fa-file-text fa-2x"></i><br> Surveys
    <% end %>
  </li>
  <li class="menu-company">
    <%= link_to :leader_index do %>
        <i class="fa fa-building fa-2x"></i><br> Company
    <% end %>
  </li>
  <li class="menu-users">
    <%= link_to :leader_index do %>
        <i class="fa fa-users fa-2x"></i><br> Users
    <% end %>
  </li>
</ul>