<% content_for :menu_bar do %>
    <% if current_user && current_user.employee? %>
        <%= render 'employees/menubar' %>
    <% end %>
<% end %>

<% content_for :content do %>
    <div class="row" id="list-surveys">
      <div class="page-content col-sm-9" >
        <div class="page-content-header">
          <div class="info-left">
            <h2><%= @supply_info[:name_list_surveys] %></h2>
            <p>Sorted by: <span id="sort-criteria"><%= @supply_info[:filter_criteria] %></span></p>
          </div>
          <div class="info-right">
            <h3><%= @supply_info[:total] %></h3>
          </div>
        </div>
        <div class="page-content-list">
          <% @surveys.each do |key, items| %>
              <div class="group-surveys">
                <h3 class="label-group"><%= key %></h3>
                <% items.each do |survey| %>
                    <%= react_component 'Survey', { survey: survey, type_priority: survey.priority, type_survey: survey.type_survey, user_author: survey.user }%>
              <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="rigth-panel col-sm-3 well">
        <h2>Filter</h2>
        <form action="" id="filter_form">
          <input id="datecreated-cb" type="checkbox" name="filter-criteria" value="datecreated" />
          <label for="datecreated-cb">Date created</label><br>
          <input id="dateclosed-cb" type="checkbox" name="filter-criteria" value="dateclosed" />
          <label for="dateclosed-cb">Date closed</label><br>
          <input id="name-cb" type="checkbox" name="filter-criteria" value="name" checked="on"/>
          <label for="name-cb">Name</label><br>
          <input id="category-cb" type="checkbox" name="filter-criteria" value="category" />
          <label for="category-cb">Category</label><br>
          <input id="status-cb" type="checkbox" name="filter-criteria" value="status" />
          <label for="status-cb">Status</label><br>
          <input id="priority-id" type="checkbox" name="filter-criteria" value="priority" />
          <label for="priority-id">Priority</label><br>
          <button class="btn btn-success">Filter</button>
        </form>
      </div>
    </div>
<% end %>