<% content_for :menu_bar do %>
    <% if current_user && current_user.employee? %>
        <%= render 'employees/menubar' %>
    <% end %>
<% end %>

<% content_for :content do %>
    <% @surveys.each do |survey| %>
        <div class="survey">
          <h3><%= survey.name_survey %></h3>
          <p>
            Created by:
            <% if survey.user.present? %>
                <%= survey.user.firstname %>
            <% else %>
                Anonymous
            <% end %>
          </p>
          <p>From: </p>
          <p>Type: <%= survey.type_survey.name_type_survey %></p>
          <p>Priority: <%= survey.priority.name_priority %></p>
          <p>
            Status:
            <% if survey.status == 0 %>
                Opened
            <% else %>
                Closed
            <% end %>
          </p>
        </div>
    <% end %>
<% end %>