<% content_for :menu_bar do %>
    <%= render 'leader/leaders/menubar' %>
<% end %>

<% content_for :content do %>
    <h2>New survey</h2>
    <%= form_for(@survey, method: :post, :url => '/leader/surveys', html: { class: 'form-horizontal', role: 'form', multipart: true}) do |f| %>
        <!-- Group of General informations -->
        <fieldset>
          <legend>General information</legend>
          <div class="form-group">
            <%= f.label :name_survey, class: 'control-label col-sm-2' %>
            <div class="col-sm-9">
              <%= f.text_field :name_survey, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :type_survey_id, class: 'control-label col-sm-2' %>
            <div class="col-sm-9">
              <%= f.collection_select :type_survey_id, TypeSurvey.all, :id, :name_type_survey, {}, { class: 'form-control' } %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :priority_id, class: 'control-label col-sm-2' %>
            <div class="col-sm-9">
              <%= f.collection_radio_buttons :priority_id, Priority.all, :id, :name_priority %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :date_closed, class: 'control-label col-sm-2' %>
            <div class="col-sm-9">
              <%= f.text_field :date_closed, { 'data-provide' => 'datepicker', :id => 'datepicker-closing', class: 'form-control' } %>
            </div>
          </div>
          <%= f.hidden_field :user_id, :value => session[:user_id] %>
        </fieldset>
        <!-- Group of Questions -->
        <fieldset>
          <legend>Questions</legend>
          <div id="list-questions"></div>
          <div class="form-group">
            <%= label_tag 'type_question', 'Type of Question: ', class: 'control-label col-sm-2' %>
            <div class="col-sm-3">
              <%= select_tag 'type_question', options_from_collection_for_select(TypeQuestion.all, 'id', 'name_type_question'), { class: 'form-control' } %>
              <p class="text-muted"><br/>
                Click on one of the question type listed as above to start creating a new question
              </p>
            </div>
          </div>
        </fieldset>
        <input type="hidden" id="hidden_questions" name="hidden_questions" />
        <input type="hidden" id="hidden_choices" name="hidden_choices" />
        <div class="div-button-footer" style="text-align:center;">
          <%= f.submit 'Confirm', id: 'confirm-survey', class: 'btn btn-primary' %>
          <button id="btn-reset-survey" class="btn btn-danger">Reset all</button>
        </div>
    <% end %>

    <!-- Modal: adding a question -->
    <div id="modal-question" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="margin-top:10px;margin-bottom:6px;">
            <h3></h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="question-content">Question</label>
              <textarea type="text" id="question-content" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <div>
                <label for="question-image">Image (optional)</label>
              </div>
              <input id="question_img" type="file" name="question[img]" />
              <button id="btn-question-img" class="btn btn-default">Upload image</button>
              <button id="btn-remove-img" class="btn btn-default">Remove image</button>
              <div>
                <img id="question-img-zone" src=''>
              </div>
            </div>
            <div class="form-group">
              <label>Choices</label>
              <div id="choices-zone">
              </div>
              <button id="add-choice" class="btn btn-default">Add choice</button>
            </div>
          </div>
          <div class="modal-footer">
            <span id="alert-question"></span>
            <button id="confirm-question" class="btn btn-success">Confirm</button>
            <button id="cancel-question" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal: confirmation for resetting all survey -->
    <div id="modal-reset" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="margin-top:0px;margin-bottom:0px; padding:5px 15px 15px 20px;">
            <h3>Reset survey</h3>
          </div>
          <div class="modal-body">
            <p class="text-danger" style="text-align:center;">Are you sure to reset this survey ? All questions will be erased.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger">OK</button>
            <button class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= render template: 'layouts/application' %>
