<% content_for :menu_bar do %>
    <% if current_user.permission == 'employee' %>
        <%= render 'employee/employees/menubar' %>
    <% else%>
        <%= render 'leader/leaders/menubar' %>
    <% end %>
<% end %>

<% content_for :content do %>
    <h1>Edit your profile</h1>
    <div class="my-profile">
      <%= form_for(@user, :url => :update_profile, html: { class: 'form-horizontal', role: 'form',  multipart: true}) do |f| %>
          <div class="row">
            <div class="col-sm-4" id="zone-picture">
              <%= image_tag(@user.link_picture, :alt => 'Leader', :id => 'img-user') %>
              <%= file_field(:upload, :img, accept: 'image/png,image/gif,image/jpeg') %>
              <a id='btn-upload-img' class="btn btn-info" href="#">Upload</a>
            </div>
            <div class="col-sm-8">
              <%= hidden_field_tag('user_id', @user[:id]) %>
              <div class="form-group">
                <%= f.label('Firstname', class: 'control-label col-sm-2') %>
                <div class="col-sm-5">
                  <%= f.text_field(:firstname, class: 'form-control')%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label('Lastname', class: 'control-label col-sm-2') %>
                <div class="col-sm-5">
                  <%= f.text_field(:lastname, class: 'form-control')%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label('Login', class: 'control-label col-sm-2') %>
                <div class="col-sm-5">
                  <%= f.text_field(:username, class: 'form-control', disabled: true )%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label('Password', class: 'control-label col-sm-2') %>
                <div class="col-sm-5">
                  <%= f.password_field(:password, class: 'form-control', readonly: true, value: @user.password) %>
                </div>
                <div class="col-sm-1">
                  <a href="#" id="change-pwd">Change</a>
                </div>
              </div>
              <div class="form-group">
                <%= f.label('Permission', class: 'control-label col-sm-2') %>
                <div class="col-sm-5">
                  <%= text_field_tag 'permission', @user.permission.capitalize, class: 'form-control', disabled: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label('Date joined', class: 'control-label col-sm-2') %>
                <div class="col-sm-5">
                  <%= f.text_field(:created_at, class: 'form-control', disabled: true) %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                  <p style="color:#848484;font-style: italic;">After editing, please click Confirm to update everything !</p>
                  <%= f.submit('Confirm', class: 'btn btn-success') %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div id="dialog-form" title="Change password">
      <form method="post">
        <div>
          <label for="oldpwd">Old password</label>
          <input type="password" name="oldpwd" id="oldpwd" class="text ui-widget-content ui-corner-all">
        </div>
        <div>
          <label for="newpwd">New password</label>
          <input type="password" name="newpwd" id="newpwd" class="text ui-widget-content ui-corner-all">
        </div>
        <div>
          <label for="confirmpwd">Retype password</label>
          <input type="password" name="confirmpwd" id="confirmpwd" class="text ui-widget-content ui-corner-all">
        </div>
        <div>
          <p id='show-errors' style="font-style: italic; color: #ac2925;"></p>
        </div>
      </form>
    </div>
<% end %>
<%= render template: 'layouts/application' %>