<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
    <%= f.text_field :firstname, :placeholder => 'Firstname' %> <br>
    <%= f.text_field :lastname, :placeholder => 'Lastname' %> <br>
    <%= f.text_field :username, :placeholder => 'Username' %> <br>
    <%= f.password_field :password, :placeholder => 'Password' %> <br>
    <%= f.text_field :clients_id, :placeholder => 'Client id' %> <br>
    <%= f.select :permission, %w(leader employee) %>
    <%= f.submit 'Create an account' %>
<% end %>