<% content_for :menu_bar do %>
    <%= render 'employee/employees/menubar' %>
<% end %>

<% content_for :content do %>
    <div id="big-info-survey" class="well">
      <h2><%= @survey.name_survey %></h2>
      <table>
        <tr>
          <th>Author:</th>
          <td><%= @survey.user.firstname + ' ' + @survey.user.lastname %></td>
        </tr>
        <tr>
          <th>Category:</th>
          <td><%= @survey.type_survey.name_type_survey %></td>
        </tr>
        <tr>
          <th>Priority:</th>
          <td><%= @survey.priority.name_priority %></td>
        </tr>
        <tr>
          <th>Date created:</th>
          <td><%= @survey.created_at.strftime('%d/%m/%Y') %></td>
        </tr>
        <tr>
          <th>Date closed:</th>
          <td><%= @survey.date_closed.strftime('%d/%m/%Y') %></td>
        </tr>
      </table>
    </div>
    <div class="zone-questions">
      <div class="progress">
        <div id="progress-questions" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span id="progress-percent"></span>
        </div>
      </div>
      <div class="prev-next">
        <a href="" class="btn btn-info" id="btn-prev">Previous</a>
        <a href="" class="btn btn-primary" id="btn-next">Next</a>
      </div>
      <%= form_tag :employee_submit_survey, :method => 'post', :role => 'form', :id => 'form-questions' do %>
          <% @questions.each do |q| %>
              <% if q.type_question.code_type_question == 'OC' %>
                  <%= react_component 'RadioQuestion', { question: q, choices: q.choices } %>
              <% end %>
              <% if q.type_question.code_type_question == 'MC' %>
                  <%= react_component 'CheckboxQuestion', { question: q, choices: q.choices } %>
              <% end %>
              <% if q.type_question.code_type_question == 'DD' %>
                  <%= react_component 'DropdownQuestion', { question: q, choices: q.choices } %>
              <% end %>
          <% end %>
          <div class="div-button">
            <%= submit_tag 'Submit', { class: 'btn btn-success', id: 'btn-submit' } %>
          </div>
      <% end %>
    </div>
<% end %>
<%= render template: 'layouts/application' %>